.fadeInLeft {
  -webkit-animation: fadeInLeft 0.8s ease-in-out backwards;
  -moz-animation: fadeInLeft 0.8s ease-in-out backwards;
  -o-animation: fadeInLeft 0.8s ease-in-out backwards;
  -ms-animation: fadeInLeft 0.8s ease-in-out backwards;
  animation: fadeInLeft 0.8s ease-in-out backwards;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation: fadeInLeftBig 1.5s ease-in-out backwards;
  -moz-animation: fadeInLeftBig 1.5s ease-in-out backwards;
  -o-animation: fadeInLeftBig 1.5s ease-in-out backwards;
  -ms-animation: fadeInLeftBig 1.5s ease-in-out backwards;
  animation: fadeInLeftBig 1.5s ease-in-out backwards;
}

.fadeInUp {
  -webkit-animation: fadeInUp 0.8s ease-in-out backwards;
  -moz-animation: fadeInUp 0.8s ease-in-out backwards;
  -o-animation: fadeInUp 0.8s ease-in-out backwards;
  -ms-animation: fadeInUp 0.8s ease-in-out backwards;
  animation: fadeInUp 0.8s ease-in-out backwards;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpBig {
  -webkit-animation: fadeInUpBig 0.8s ease-in-out backwards;
  -moz-animation: fadeInUpBig 0.8s ease-in-out backwards;
  -o-animation: fadeInUpBig 0.8s ease-in-out backwards;
  -ms-animation: fadeInUpBig 0.8s ease-in-out backwards;
  animation: fadeInUpBig 0.8s ease-in-out backwards;
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.8s ease-in-out backwards;
  -moz-animation: fadeInDown 0.8s ease-in-out backwards;
  -o-animation: fadeInDown 0.8s ease-in-out backwards;
  -ms-animation: fadeInDown 0.8s ease-in-out backwards;
  animation: fadeInDown 0.8s ease-in-out backwards;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 0.8s ease-in-out backwards;
  -moz-animation: fadeInRight 0.8s ease-in-out backwards;
  -o-animation: fadeInRight 0.8s ease-in-out backwards;
  -ms-animation: fadeInRight 0.8s ease-in-out backwards;
  animation: fadeInRight 0.8s ease-in-out backwards;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.lightSpeedIn {
  -webkit-animation: lightSpeedIn 1s ease-in-out backwards;
  -moz-animation: lightSpeedIn 1s ease-in-out backwards;
  -o-animation: lightSpeedIn 1s ease-in-out backwards;
  -ms-animation: lightSpeedIn 1s ease-in-out backwards;
  animation: lightSpeedIn 1s ease-in-out backwards;
}

@-webkit-keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-70deg);
    transform: translate3d(100%, 0, 0) skewX(-70deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes lightSpeedIn {
  0% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-70deg);
    transform: translate3d(100%, 0, 0) skewX(-70deg);
    opacity: 0;
  }

  60% {
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: skewX(-5deg);
    transform: skewX(-5deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation: rotateIn 0.6s ease-in-out backwards;
  -moz-animation: rotateIn 0.6s ease-in-out backwards;
  -o-animation: rotateIn 0.6s ease-in-out backwards;
  -ms-animation: rotateIn 0.6s ease-in-out backwards;
  animation: rotateIn 0.6s ease-in-out backwards;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation: zoomIn 0.8s ease-in-out backwards;
  -moz-animation: zoomIn 0.8s ease-in-out backwards;
  -o-animation: zoomIn 0.8s ease-in-out backwards;
  -ms-animation: zoomIn 0.8s ease-in-out backwards;
  animation: zoomIn 0.8s ease-in-out backwards;
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation: bounce 0.6s ease-in-out backwards;
  -moz-animation: bounce 0.6s ease-in-out backwards;
  -o-animation: bounce 0.6s ease-in-out backwards;
  -ms-animation: bounce 0.6s ease-in-out backwards;
  animation: bounce 0.6s ease-in-out backwards;
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation: rotateIn 0.6s ease-in-out backwards;
  -moz-animation: rotateIn 0.6s ease-in-out backwards;
  -o-animation: rotateIn 0.6s ease-in-out backwards;
  -ms-animation: rotateIn 0.6s ease-in-out backwards;
  animation: rotateIn 0.6s ease-in-out backwards;
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.rollIn {
  -webkit-animation: rollIn 0.6s ease-in-out backwards;
  -moz-animation: rollIn 0.6s ease-in-out backwards;
  -o-animation: rollIn 0.6s ease-in-out backwards;
  -ms-animation: rollIn 0.6s ease-in-out backwards;
  animation: rollIn 0.6s ease-in-out backwards;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(600px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(600px) scale3d(.95, .95, .95);
    transform: perspective(600px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: perspective(600px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(600px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(600px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(600px) scale3d(.95, .95, .95);
    transform: perspective(600px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: perspective(600px);
    transform: perspective(600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.flip {
  -webkit-animation: flip 0.6s ease-in-out backwards;
  -moz-animation: flip 0.6s ease-in-out backwards;
  -o-animation: flip 0.6s ease-in-out backwards;
  -ms-animation: flip 0.6s ease-in-out backwards;
  animation: flip 0.6s ease-in-out backwards;
}

@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  0% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-animation: flipInY 1.5s ease-in-out backwards;
  -moz-animation: flipInY 1.5s ease-in-out backwards;
  -o-animation: flipInY 1.5s ease-in-out backwards;
  -ms-animation: flipInY 1.5s ease-in-out backwards;
  animation: flipInY 1.5s ease-in-out backwards;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1.0);
  }
}

@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.4);
  }
  20% {
    -moz-transform: scaleY(1.0);
  }
}

@-ms-keyframes stretchdelay {
  0%, 40%, 100% {
    -ms-transform: scaleY(0.4);
  }
  20% {
    -ms-transform: scaleY(1.0);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@-webkit-keyframes circle_zoom {
  0% {
    opacity: 0;
    -webkit-mask-size: 30%;
    -webkit-animation-timing-function: ease-in
  }
  40% {
    opacity: .6;
    -webkit-mask-size: 60%;
    -webkit-animation-timing-function: ease-in
  }
  100% {
    opacity: 1;
    -webkit-mask-size: 300%
  }
}

/*广播扩散效果*/
@keyframes radar {
  0% {
    width: 150px;
    height: 150px;
    border: 40px solid #fff;
    opacity: 0
  }
  50% {
    opacity: .1
  }
  90% {
    width: 650px;
    height: 650px
  }
  90%, 100% {
    border: 2px solid #fff;
    opacity: 0
  }
  100% {
    width: 1300px;
    height: 1300px
  }
}
@-webkit-keyframes radar {
  0% {
    width: 150px;
    height: 150px;
    border: 40px solid #fff;
    opacity: 0
  }
  50% {
    opacity: .1
  }
  90% {
    width: 650px;
    height: 650px
  }
  90%, 100% {
    border: 2px solid #fff;
    opacity: 0
  }
  100% {
    width: 1300px;
    height: 1300px
  }
}
@-ms-keyframes radar {
  0% {
    width: 150px;
    height: 150px;
    border: 40px solid #fff;
    opacity: 0
  }
  50% {
    opacity: .1
  }
  90% {
    width: 650px;
    height: 650px
  }
  90%, 100% {
    border: 2px solid #fff;
    opacity: 0
  }
  100% {
    width: 1300px;
    height: 1300px
  }
}
@-moz-keyframes radar {
  0% {
    width: 150px;
    height: 150px;
    border: 40px solid #fff;
    opacity: 0
  }
  50% {
    opacity: .1
  }
  90% {
    width: 650px;
    height: 650px
  }
  90%, 100% {
    border: 2px solid #fff;
    opacity: 0
  }
  100% {
    width: 1300px;
    height: 1300px
  }
}
/*广播扩散效果end*/







